{% extends 'doctors/doctor index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/add_shedule_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>Date</td>
      <td><input name="date" type="date" min="{{ dt }}" class="form-control" required /></td>
    </tr>
     <tr>
      <td>From Time</td>
      <td><input name="time" type="time" class="form-control" required /></td>
    </tr>
      <tr>
      <td>TO Time</td>
      <td><input name="time2" type="time" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input class="btn btn-success" type="submit" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
