{% extends 'doctors/doctor index.html' %}
{% block body %}
<body><form action="/myapp/doctors_change_password_post/" method="post">
    {% csrf_token %}
<table class="table table-bordered table-striped">
  <tr>
    <td>Old Password</td>
    <td><input type="text"class="form-control" required name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td>New passwords</td>
    <td><input type="text"class="form-control" name="textfield3" id="password" minlength="8"/><br><p>Must be at least 8 characters</p></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="text"class="form-control" name="textfield2" id="confirmPassword" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input disabled type="submit" name="button" id="button" value="SUBMIT"class="btn btn-info" /></td>
  </tr>
</table>
</form>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#confirmPassword').on('input', function () {
          var password = $('#password').val();
          var confirmPassword = $(this).val();
          $('#button').prop('disabled', password !== confirmPassword);
        });
      });
    </script>
</body>
{% endblock %}
