{% extends 'doctors/doctor index.html' %}
{% block body %}

<form method="post" action="/myapp/edit_profile_post/">{% csrf_token %}


    <table class="table table-bordered ">
        <tr>
          <td>Name</td>
          <input type="hidden" class="form-control"  value="{{ data.id }}" name="id" id="textfield2" />

          <td>
            <input type="text" class="form-control"required value="{{ data.name }}" name="textfield2" id="textfield2" pattern="^[A-Za-z]+(?:\s[A-Za-z]+)?$" />
          </td>
        </tr>
        <tr>
          <td>Place</td>
          <td>
            <input type="text" class="form-control"required name="textfield" id="textfield" value="{{ data.place }}" />
          </td>
        </tr>
        <tr>
          <td>Age</td>
          <td>
            <input type="number" min="18" class="form-control"required name="textfield3" id="textfield3"  value="{{ data.age }}"/>
         </td>
        </tr>
          <tr>
          <td>Email</td>
          <td>
            <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" class="form-control"required value="{{ data.email }}" name="textfield10" id="textfield3" />
         </td>
        </tr>
       
        <tr>
          <td>Qualification</td>
          <td>
            <input type="text"class="form-control"required pattern="[A-Za-z][A-Za-z. ]*" value="{{ data.qualification }}" name="textfield4" id="textfield4" />
        </td>
        </tr>
        <tr>
          <td>Pin</td>
          <td> 
            <input type="text"class="form-control"required pattern="[1-9][0-9]+" value="{{ data.pin }}"  minlength="5" maxlength="6" name="textfield5" id="textfield5" />
          </td>
        </tr>
        <tr>
          <td>City</td>
          <td>
            <input type="text"class="form-control"required name="textfield6" id="textfield6"  value="{{ data.city }}" />
          </td>
        </tr>
        <tr>
          <td>House No.</td>
          <td>
            <input type="text" class="form-control" required name="textfield7" id="textfield7" value="{{ data.qualification }}" value="{{ data.houseno }}"  />
          </td>
        </tr>
        <tr>
          <td>House name</td>
          <td>
            <input type="text" class="form-control"required name="textfield8" id="textfield8"  value="{{ data.housename }}" />
        </td>
        </tr>
        <tr>
          <td>Mobile No.</td>
          <td>
            <input type="text" class="form-control"required name="textfield9" pattern="[6-9][0-9]+" minlength="10" value="{{ data.mobileno }}"  maxlength="10" id="textfield9" />
          </td>
        </tr>
        <tr>
          <td height="39">Photo</td>
          <td>
            <input type="file" class="form-control"  name="fileField" id="fileField" /><br>
            <a href="{{ data.photo }}"><img src="{{ data.photo }}" height="80px" width="80px"></a>

         </td>
        </tr>
         
        <tr>
          <td colspan="2">
            
              <div align="center">
                <input type="submit"  id="button"  value="ADD" CLASS="btn btn-info"/>
              </div>
          </td>
        </tr>
      </table>
</form>

{%endblock%}