{% extends 'doctors/doctor index.html' %}
{% block body %}
<h1>Doctor home</h1>
<a href="/myapp/view_profile/">view profile</a><br>
<a href="/myapp/doctor_disease_view/">view disease</a><br>
<a href="">predict disease</a><br>
<a href="/myapp/add_schedule/">add schedule</a><br>
<a href="/myapp/view_schedule/">view schedule</a><br>
<a href="/myapp/view_appointment/">view appointment</a><br>
<a href="">chatting with user</a><br>
<a href="/myapp/doctor_change_password/">change password</a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href="/myapp/login/">logout</a><br>
</body>
{% endblock %}