{% extends 'doctors/doctor index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
      <tr>
      <td></td>
      <td><a href="{{ data.photo }}"><img src="{{ data.photo }}" height="80px" width="80px"></a> </td>
    </tr>

    <tr>
      <td>Name</td>
      <td>&nbsp;{{ data.name }}
     </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ data.age }}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{data.housename  }}<br>{{ data.city }}<br>{{ data.houseno }}<br>{{ data.pin }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ data.gender }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ data.mobileno }}</td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td>{{ data.qualification }}</td>
    </tr>
    <tr>
      <th></th>
    <th><a href="/myapp/edit_profile" class="btn btn-info">Edit</th>
    </tr>

    
  </table>
</form>
</body>
{% endblock %}
