{% extends 'admin/admin index.html' %}
{% block body %}

<body><form action="/myapp/disease_edit_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table table-bordered table-striped">
  <tr>
<input type="hidden" required name="id" value="{{ data.id }}"  />
    <td>Disease name</td>
    <td><input type="text"class="form-control" required name="textfield" value="{{ data.dieasename }}" id="textfield" /></td>
  </tr>
  <tr>
    <td>Details</td>
    <td><textarea name="textarea" id="textarea"class="form-control"  cols="45" rows="5">{{ data.details }}</textarea></td>
  </tr>
  <tr>
    <td>Image</td>
    <td><input type="file" class="form-control"required name="image" id="textfield2"  />
    <img src="{{ data.image }}" width="200px" height="200px"> </td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-info" /></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
