{% extends 'admin/admin index.html' %}
{% block body %}

<body><form action="/myapp/symptoms_edit_post/" method="post">
    {% csrf_token %}
<table class="table table-bordered table-striped">


  <tr>
    <td>Disease</td>
    <td>
<select name="disease" class="form-control">
{% for i in data2 %}
<option value="{{ i.id }}">{{ i.dieasename }}</option>
{%endfor%}
</select>

    </td>
  </tr>

  <tr>
<input type="hidden" required name="id" value="{{ data.id }}"  />
    <td>Symptoms name</td>
    <td>
      <input type="text"class="form-control" required name="textfield" value="{{ data.symptoms }}" id="textfield" />
      <input type="hidden"class="form-control" required name="id" value="{{ data.id }}" id="textfield" />

    </td>
  </tr>
  
<tr>

  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-info" /></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
